<ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
        <!--<app-logo></app-logo>-->
        <img src='assets/icon/kubernetes.png' alt='Mango Project Logo'>
        <h1>Welcome to HelloWorld</h1>
        <p>My First App</p>
    </ion-slide>
    <ion-slide>
        <img src='assets/icon/ionic.png' alt="Ionic">
        <img src='assets/icon/angular.png' alt="Angular">
        <h1>Made ON Ionic & Angular </h1>
    </ion-slide>
    <ion-slide>
        <img src='assets/icon/git.png' alt="Git">
        <h1>Backed up by GIT</h1>
    </ion-slide>
</ion-slides>