<ion-content>
    <ion-header>
        <ion-toolbar>
            <div class="center">
                <img src="assets/icon/kubernetes_small.png" alt="app-logo">
                <h1 color="myapp">Welcome to HelloWorld</h1>
            </div>
        </ion-toolbar>
    </ion-header>
    <ion-content padding="true">
        <form>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Email ID</ion-label>
                    <ion-input name="email" clearInput value="clear me" type='text' required [(ngModel)]="postData.email"></ion-input>
                </ion-item><br>
                <ion-item>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input name="user" type='text' required [(ngModel)]="postData.username"></ion-input>
                </ion-item><br>
                <ion-item>
                    <ion-label position="floating" clearInput value="clear me ">Password</ion-label>
                    <ion-input name="pass" type='password' required [(ngModel)]="postData.password "></ion-input>
                </ion-item><br>
                <ion-button expand="block " shape="round " color="myapp " (click)="signAction() ">Sign Up</ion-button>
                <ion-item lines="none ">
                    <a routerLink="/login ">Have an account?</a>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-content>